@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

:root {
  --lilac: #8844db;
  --lilacHover: #975dde;
  --joystickHandle: #555;
  --controller: rgba(28, 24, 39, 0.6);
  --btns: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  user-select: none; /* prevent text selection while dragging the joystick */
}

.container {
  border: 2px solid white;
  display: grid;
  width: 1024px;
  height: 600px;
  margin: auto;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.microscope-view {
  grid-row: 1 / 9;
  grid-column: 1 / 7;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.microscope-view img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery-map img {
  height: 600px;
  width: 768px;
  object-fit: cover;
}

.container-controller {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 2;
  opacity: 1;
}

.joystick,
.buttons {
  width: 100px;
  height: 100px;
  background-color: var(--controller);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

#interactive-joystick,
.interactive-buttons {
  z-index: 3;
}

#joystick-base {
  position: relative;
  width: 60px;
  height: 60px;
  background: white;
  opacity: 0.6;
  border-radius: 50%;
  margin: 20px auto;
}

#joystick-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--joystickHandle);
  border-radius: 50%;
  /* Center the handle */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
}

#joystick-handle:active {
  cursor: grabbing;
}

.sidebar {
  grid-row: 1 / 8;
  grid-column: 7 / 9;
  padding: 25px;
  font-size: 24px;
  align-items: center;
}

.minimap {
  padding: 20px 0 20px 0;
}
.microscope-name p {
  font-size: 16px;
  text-align: right;
  margin: 0;
}

.btns-map-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
  color: white;
}

.btns-map-list strong {
  color: var(--lilac);
}
