.gallery-menu {
  display: flex;
  flex-direction: column;
  /*height: 90%;*/
}

.gallery-menu h1 {
  font-size: 24px;
  justify-self: left;
}

.gallery-data p {
  font-size: 16px;
  justify-self: left;
  margin: 5px;
  margin-left: 0;
}