body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
  background-color: #1C1827;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
